.container
  .jumbotron
    h1 Meanstack Prototype
    p.lead Allright ;)


  .row
    .col-md-6
      div(ng-include="'partials/featured-courses'")
    .col-md-6
      div(ng-include="'partials/new-courses'")