.navbar-right(ng-controller="mvNavBarLoginCtrl")
  form.navbar-form(ng-hide="identity.isAuthenticated()")
    ul.nav.navbar-nav
      li
        a(href="signup") Sign Up
    .form-group
      input.form-control(placeholder="userName",ng-model="userName")
    .form-group
      input.form-control(type="password",placeholder="password",ng-model="password")
    button.btn.btn-primary(ng-click="signin(userName, password)") Sign in
  ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
    li.dropdown
      a.dropdown-toggle(href="#",data-toggle="dropdown")
        | Hello {{identity.currentUser.userName}}
        b.caret
      ul.dropdown-menu
        li(ng-show="identity.currentUser.isAdmin()")
          a(href="/admin/users") User Admin
        li
          a(href="profile") Profile
        li
          a(href="#",ng-click="signout()") Sign Out