.navbar.navbar-default
  .navbar-header
    button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navigation")
      span.fa.fa-bars
    a.navbar-brand(href="/") Meanstack Prototype
  .navbar-collapse.collapse(id="navigation")
    ul.nav.navbar-nav
      li
        a(href="/") Home
      li
        a(href="/courses") Courses
      li
        a(href="/about/kevin") About Me
      li
        a(href="/learn-understand-angular") Learn And Understang Angular
    div(ng-include="'partials/account/navbar-login'")
