doctype
html
  head
    link(href="favicon.ico",rel="icon")
    link(href="/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.css",rel="stylesheet")
    link(href="/bower_components/toastr/toastr.css",rel="stylesheet")
    link(href="/css/site.css",rel="stylesheet")
  body
    block main-content
    include scripts