doctype
html
  head
    title Meanstack Prototype
    base(href="/")
    link(href="favicon.ico",rel="icon")
    link(href="/css/bootstrap.css",rel="stylesheet")
    link(href="/css/superhero.min.css", rel="stylesheet")
    link(href="/bower_components/font-awesome/css/font-awesome.css",rel="stylesheet")
    link(href="/bower_components/toastr/toastr.css",rel="stylesheet")
    link(href="/css/site.css",rel="stylesheet")
  body(ng-app="app")
    include currentUser

    include header

    block main-content
    include footer
    include scripts
